body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 800px;
}

.header-flex{
    display: flex;
    background-color: rgba(217, 217, 217, 1);
    padding: 10px;
    margin-bottom: 11px;
}

/* .header-flex a{
    margin-right: 25px;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
} */

.group-img{
    margin-left: 15px;
    margin-bottom: 15px;
}

.img{
    margin-right: 10px;
    width: 45px;
}

.group-btn{
    padding: 5px 22px;
    font-size: 24px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    margin-bottom: 20px;
}

.group-btn a{
    text-decoration: none;
    color: black;
}

.select-flex{
    display: flex;
    flex-direction: column;
}

.select-flex select{
    font-size: 18px;
    padding: 7px 15px;
    width: 250px;
    margin-bottom: 12px;
}

.words{
    padding: 5px 22px;
    font-size: 20px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
}

.date{
    font-size: 20px;
    width: 250px;
    margin-bottom: 12px;  
    margin-left: 15px;
}
.resume{
    font-size: 20px;
    width: 210px;
    margin-bottom: 12px;  
}

.search{
    padding: 10px 100px;
    background-color: rgba(255, 223, 111, 1);
    border: none;
    font-size: 20px;
}