<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/css/job_seekers.css}" rel="stylesheet">
    <link th:href="@{/css/style-modal.css}" rel="stylesheet">
    <link th:href="@{/css/addendum.css}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-flex">
            <!-- <a href="">Файл</a> -->
            <div id="openModal" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <a href="#win2" class="modal-title"><h3 style="width: 140px;">О программе</h3></a>
                      <a href="#close" title="Close" class="close">×</a>
                    </div>
                  </div>
                </div>
              </div>
               
              <!-- HTML кнопки -->
               
            <a href="#openModal" class="reference">Справка</a>

            <a href="#" class="overlay" id="win2"></a>
            <div class="popup">
                <div class="flex-popup">
                    <img th:src="@{/img/person.svg}" width="130px" class="img-popup">
                    <div class="person-desc">
                        <p>RecruitRight</p>
                        <p>@Megasoft</p>
                        <p>Хромченков А.П. все права защищены</p>
                        <p>Email для связи c разработчиком:</p>
                        <p>cttektpo98@gmail.com</p>
                    </div>
                    
                </div>
    
                    
                <a class="close-Popup" title="Закрыть" href="#close"></a>
            </div>
        </div>
    </header>

        <div class="group-img">
            <!-- <a href="addendum.html"></a> -->
            <img th:src="${editMode} ? @{/img/edit.svg} : @{/img/newdoc.svg}" class="img">
            <!-- <a href="editing.html"><img src="img/edit.svg" class="img"></a> -->
            <!-- <a href="delete.html"><img src="img/delete.svg" class="img"></a> -->
            <!-- <a href=""><img src="img/chart.svg " class="img"></a> -->
        </div>
        <div>
            <button class="group-btn"><a href="/">Соискатели</a></button>
            <!-- <button class="group-btn"><a href="job_openings.html">Вакансии</a></button> -->
        </div>
        <form th:action="@{/saveCandidate}" method="post" class="form-add" enctype="multipart/form-data" th:object="${personalCard}">
            <div class="flex-form">
                <input type="hidden" th:field="*{id}">
<!--                <div class="surname">-->
<!--                    <label for="surname" class="surname_per"><b>Фамилия</b></label>-->
<!--                    <div>-->
<!--                        <input type="text" placeholder="Введите фамилию" name="surname"  required >-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="name">-->
<!--                    <label for="name" class="name_per"><b>Имя</b></label>-->
<!--                    <div>-->
<!--                        <input type="text" placeholder="Введите имя" name="name" required > -->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="patronymic">-->
<!--                    <label for="patronymic" class="patronymic"><b>Отчество</b></label>-->
<!--                    <div>-->
<!--                        <input type="text" placeholder="Введите отчество" name="patronymic"  >-->
<!--                    </div>-->
<!--                </div>-->
                <div class="fullName">
                    <label class="fullname"><b>ФИО</b></label>
                    <div>
                        <input type="text" placeholder="ФИО" name="fullName" th:field="*{fullName}">
                    </div>
                </div>
                <div class="date">
                    <label>Дата рождения</label>
                    <div>
                        <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" >
                    </div>            
                                     
                </div>
                <div class="age">
                    <label class="age"><b>Возраст</b></label>
                    <div>
                        <input type="text" placeholder="Введите возраст" name="age" th:field="*{age}">
                    </div>
                </div>
                <div class="gender">
                    <label class="gender"><b>Пол</b></label>
                    <div>
                        <select th:field="*{sex}" class="flex-median-select" style="font-size: 20px;" >
                            <option value="" style="color: grey;" selected hidden>Выберите пол</option>
                            <option value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
<!--                            <option th:value="${('-')}" th:text="'-'"></option>-->
                        </select>
                    </div>
                </div>
                <div class="cityName">
                    <label for="city"><b>Город:</b></label>
                    <div>
                    <select id="city" name="city" th:field="*{city}" class="flex-median-select" style="font-size: 20px;">
                        <option value="" style="color: grey;" selected hidden>Выберите город</option>
                        <option th:each="city : ${city}" th:value="${city.id}" th:text="${city.name}"></option>
                    </select>
                    </div>
                </div>
                <!-- <div class="interview">
                    <label for="interview" class="interview"><b>Был\не был на собеседовании</b></label>
                    <div>
                        <input type="text" placeholder="Введите был\не был на собеседовании" name="interview" required > 
                    </div>
                </div> -->
                 <div class="phone">
                    <label class="phone"><b>Телефон</b></label>
                    <div>
                        <input type="text" placeholder="Введите телефон" name="phone" th:field="*{phone}" >
                    </div>
                     
                </div>
                <div class="status">
                    <label for="status"><b>Статус</b></label>
                    <div>
                    <select id="status" name="status" th:field="*{status}" class="flex-median-select" style="font-size: 20px;">
                        <option value="" style="color: grey;" selected hidden>Выберите статус</option>
                        <option th:each="status : ${status}" th:value="${status.id}" th:text="${status.field}"></option>
                    </select>
                    </div>
                </div>
                <div class="salary">
                    <label class="salary" ><b>Желаемая заработная плата</b></label>
                    <div>
                        <input type="text" placeholder="Введите желаемую зарплату" name="salary" th:field="*{salary}" >
                    </div>
                    
                </div>
                <div class="post">
                    <label for="jobTitle"><b>Желаемая должность</b></label>
                    <div>
                    <select id="jobTitle" name="jobTitle" th:field="*{jobTitle}" class="flex-median-select" style="font-size: 20px;">
                        <option value="" style="color: grey;" selected hidden>Выберите желаемую должность</option>
                        <option th:each="jobTitle : ${jobTitle}" th:value="${jobTitle.id}" th:text="${jobTitle.title}"></option>
                    </select>
                    </div>
                </div>
                <div class="experience">
                    <label class="experience"><b>Опыт работы</b></label>
                    <div>
                        <input type="text" placeholder="Введите опыт работы" name="experience" th:field="*{experience}" >
                    </div>
                </div>
                <div class="Education">
                    <label class="Education"><b>Образование</b></label>
                    <div>
                        <input type="text" placeholder="Введите образование" name="Education" th:field="*{education}" >
                    </div>
                    
                </div>
                <div class="skills">
                    <label class="skills"><b>Ключевые навыки</b></label>
                    <div>
                        <input type="text" placeholder="Введите ключевые навыки" name="skills" th:field="*{skills}" >
                    </div>
                    
                </div>
                <div class="comments">
                    <label class="comments"><b>Комментарии</b></label>
                    <div>
                            <p style="margin: 0;">
                                <textarea rows="10" cols="45" name="comments" th:field="*{comments}"></textarea>
                            </p>
                    </div>
                </div>
<!--                <div class="image">-->
<!--                    <label for="image" class="image"><b>Фото</b></label>-->
<!--                    <div>-->
<!--                        <input type="image" placeholder="тут должно быть довавление фото!" name="image" th:field="${personalCard.imagesBytes}" >-->
<!--                    </div>-->
<!--                    -->
<!--                </div> -->
            </div>

            <input type="hidden" th:field="*{creationDate}"  readonly="readonly">
            <button type="submit" class="add" style="margin-left: 30px;" th:text="${editMode} ? 'Сохранить' : 'Добавить'"></button>
        </form>


</body>
</html>