<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates.RecruitRight</title>
    <link th:href="@{/css/job_seekers.css}" rel="stylesheet">
    <link th:href="@{/css/style-modal.css}" rel="stylesheet">
<!--    <link th:href="@{/css/delete.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/fordelete.css}" rel="stylesheet">-->
</head>
<body>
    <header>
        <div class="header-flex">
            <!-- <a href="">Файл</a> -->
            <div id="openModal" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <a href="#win2" class="modal-title"><h3 style="width: 140px;">О программе</h3></a>
                      <a href="#close" title="Close" class="close">×</a>
                    </div>
                  </div>
                </div>
              </div>
               
              <!-- HTML кнопки -->
               
            <a href="#openModal" class="reference">Справка</a>

            <a href="#" class="overlay" id="win2"></a>
            <div class="popup">
                <div class="flex-popup">
                    <img src="img/person.svg" width="130px" class="img-popup">
                    <div class="person-desc">
                        <p>RecruitRight</p>
                        <p>@Megasoft</p>
                        <p>Хромченков А.П. все права защищены</p>
                        <p>Email для связи c разработчиком:</p>
                        <p>cttektpo98@gmail.com</p>
                    </div>

                </div>
    
                    
                <a class="close-Popup" title="Закрыть" href="#close"></a>
            </div>
        </div>
    </header>
    <main>

        <div class="group-img">
            <a href="/newCandidate"><img src="img/newdoc.svg" class="img"></a>
            <a id="editLink" href="#">
                <img id="editImage" src="img/edit.svg" class="img">
            </a>
            <a href="#deleteLink">
            <img src="img/delete.svg" style="width: 45px; margin-left: -10px">
            </a>
            <a href="/median"><img src="img/chart.svg " class="img"></a>
            <a id="deleteLink" class="css-modal-details">
                <details class="details-modal">
                    <div class="cmc">
                        <div class="cmt">
                            <p id="confirmationText"></p>
                            <button class="yes" id ="yes">Да</button>
                            <button class="no" id ="no">Нет</button>
                        </div>
                    </div>
                </details>
            </a>


        </div>


        <p class="filt-desc" style="margin-bottom: 10px;">Фильтры</p>
        <div class="btn-filter">
            <button onclick="updateTable()">Обновить таблицу соискателей</button>
            <button onclick="addFilter()">Добавить фильтр</button>
            <button onclick="removeFilter()">Удалить фильтр</button>
            <button onclick="removeAllFilters()">Удалить все</button>
        </div>
        <div class="table-filter-container">
        <table class="filter" id="filterTable">
            <thead>
            <tr>
                <th></th>
                <th>Вкл.</th>
                <th>Поле</th>
                <th>Условие</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будут добавляться строки с фильтрами -->
            </tbody>
        </table>
        </div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button class="group-btn"><a href="/">Соискатели</a></button>
            <!-- <button class="group-btn"><a href="job_openings.html">Вакансии</a></button> -->
        </div>
        <form>
        <div class="table-container">
        <table>
            <tr>
                <th></th>
                <th>ID</th>
                <th>ФИО</th>
                <th>Дата рожд.</th>
                <th>Возраст</th>
                <th>Пол</th>
                <th>Город</th>
                <th>Тел.</th>
                <th>Желаемая должность</th>
                <th>Желаемая зарплата</th>
                <th>Опыт работы</th>
                <th>Образование</th>
                <th>Ключевые навыки</th>
                <th>Комментарии</th>
                <th>Статус</th>
            </tr>
            <tbody id="tableBody">
            <tr th:each="personalCard : ${personalCards}">
                <th><input type="radio" name="selectedCandidate" th:value="${personalCard.id}" ></th>
                <td th:text="${personalCard?.id}?: ''"></td>
                <td th:text="${personalCard?.fullName}?: ''"></td>
                <td th:text="${#dates.format(personalCard?.dateOfBirth,'dd.MM.yyyy')}?: ''"></td>
                <td th:text="${personalCard?.age}?: ''"></td>
                <td th:text="${personalCard?.sex}?: ''"></td>
                <td th:text="${personalCard.city?.name}?: ''"></td>
                <td th:text="${personalCard?.phone}?: ''"></td>
                <td th:text="${personalCard.jobTitle?.title}?: ''"></td>
                <td th:text="${personalCard?.salary}?: ''"></td>
                <td th:text="${personalCard?.experience}?: ''"></td>
                <td th:text="${personalCard?.education}?: ''"></td>
                <td th:text="${personalCard?.skills}?: ''"></td>
                <td th:text="${personalCard?.comments} ?: ''"></td>
                <td th:text="${personalCard.status?.field} ?: ''"></td>
            </tr>
            </tbody>
        </table>
        </div>
        </form>

    </main>
    <script th:src="@{/js/deleteUser.js}"></script>
    <script th:src="@{/js/changeCandidate.js}"></script>
    <script th:src="@{/js/filter.js}"></script>
</body>
</html>