<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates.MegaSoft V0.1</title>
    <link rel="stylesheet" href="css/job_seekers.css">
    <link rel="stylesheet" href="css/style-modal.css">
    <link rel="stylesheet" href="css/delete.css">
</head>
<body>
    <header>
        <div class="header-flex">
            <!-- <a href="">Файл</a> -->
            <div id="openModal" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <a href="#win2" class="modal-title"><h3 style="width: 140px;">О программе</h3></a>
                      <a href="#close" title="Close" class="close">×</a>
                    </div>
                  </div>
                </div>
              </div>
               
              <!-- HTML кнопки -->
               
            <a href="#openModal" class="reference">Справка</a>

            <a href="#x" class="overlay" id="win2"></a>
            <div class="popup">
                <div class="flex-popup">
                    <img src="img/person.svg" width="130px" class="img-popup">
                    <div class="person-desc">
                        <p>Учет кадров V.1.0 </p>
                        <p>@Megasoft</p>
                        <p>Петров А.В. все права защищены</p>
                        <p>Email для связи c разработчиком:</p>
                        <p>mail@gmail.com</p>
                    </div>
                    
                </div>
    
                    
                <a class="close-Popup" title="Закрыть" href="#close"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="group-img">
            <a href="/add-personal-card"><img src="img/newdoc.svg" class="img"></a>
            <a id="editLink" th:href="@{/edit-personal-card/{id}(id = 2)}"><img id="editImage" src="img/edit.svg" class="img"></a>
<!--            @{/edit-personal-card/{id}(id = 0)}-->
            <!-- <a href="delete.html"><img src="img/delete.svg" class="img"></a> -->
            <a class="css-modal-details">  
                <details class="details-modal">
                    <summary><img src="img/delete.svg" alt="" srcset="" style="width: 45px; margin-left: -10px"> </summary>
                        <div class="cmc">
                            <div class="cmt">
                                <p>Вы действительно хотите удалить соискателя под ID = 1 ?</p>
                                <button class="yes">Да</button>
                                <button class="no">Нет</button>        
                            </div>
                        </div>
                </details>
            </a>
            <!-- <a href="median.html"><img src="img/chart.svg " class="img"></a> -->
        </div>
        <div>
            <button class="group-btn"><a href="job_seekers.html">Соискатели</a></button>
            <!-- <button class="group-btn"><a href="job_openings.html">Вакансии</a></button> -->
        </div>

        <!-- <p class="filt-desc">Фильтры</p>
        <table class="filter">
            <tr>
                <th></th>
                <th>Вкл.</th>
                <th>Поле</th>
                <th>Условие</th>
                <th>Значение</th>
            </tr>
            <tr>
                <th><img src="img/triangle.svg" style="width: 12px;"></th>
                <th><label class="container">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <div class="btn-filter">
                <button>Обновить таблицу соискателей</button>
                <button>Добавить фильтр</button>
                <button>Удалить фильтр</button>
                <button>Удалить все</button>
            </div>
        </table> -->
        <form>
        <table class="job_seekers">
            <tr>
                <th></th>
                <th>ID</th>
                <th>ФИО</th>
                <th>Дата рожд.</th>
                <th>Возраст</th>
                <th>Пол</th>
                <th>Город</th>
                <th>Тел.</th>
                <th>Желаемая должность</th>
                <th>Желаемая зарплата</th>
                <th>Опыт работы</th>
                <th>Образование</th>
                <th>Ключевые навыки</th>
                <th>Комментарии</th>
                <th>Статус</th>
            </tr>
            <tr th:each="personalCard : ${personalCards}">
                <th><input type="radio" name="selectedCandidate" th:value="${personalCard.id}" ></th>
                <td th:text="${personalCard?.id}?: ''"></td>
                <td th:text="${personalCard?.fullName}?: ''"></td>
                <td th:text="${#dates.format(personalCard?.dateOfBirth,'dd.MM.yyyy')}?: ''"></td>
                <td th:text="${personalCard?.age}?: ''"></td>
                <td th:text="${personalCard.sex?.gender}?: ''"></td>
                <td th:text="${personalCard.city?.name}?: ''"></td>
                <td th:text="${personalCard?.phone}?: ''"></td>
                <td th:text="${personalCard.jobTitle?.title}?: ''"></td>
                <td th:text="${personalCard?.salary}?: ''"></td>
                <td th:text="${personalCard?.experience}?: ''"></td>
                <td th:text="${personalCard?.education}?: ''"></td>
                <td th:text="${personalCard?.skills}?: ''"></td>
                <td th:text="${personalCard?.comments} ?: ''"></td>
                <td th:text="${personalCard.status?.field} ?: ''"></td>
            </tr>
        </table>
        </form>
    </main>
</body>
<script src="../static/js/deleteUser.js"></script>
<script src="../static/js/changeCandidate.js"></script>
</html>