body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
  
form {
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
    opacity: 1;
}
  
.email, .pass{
    margin-bottom: 25px;
}

.passag{
    margin-left: -145px;
    margin-bottom: 25px;
}
  
.email_per {
    margin-right: 25px;
}
  
label, input {
    font-size: 30px;
}
  
.create{
    width: 150px;
    height: 47px;
    font-size: 24px;
    background-color: rgba(59, 171, 235, 1);
    position: relative;
    left: 165px;
    margin-bottom: 225px;

}

.back{
    width: 119px;
    height: 47px;
    font-size: 24px;
    background-color: rgba(111, 111, 111, 1);
    margin-left: 55px;
}
  
a{
    color: black;
    text-decoration: none;
}

  